---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border: 2px solid #333;
        filter: grayscale(100%);
      }
      .prose {
        width: 680px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: #ddd;
      }
      .title-block {
        margin-bottom: 2em;
        padding: 1em 0;
        text-align: center;
        border-bottom: 1px dashed #333;
      }
      .title-block h1 {
        margin: 0 0 0.5em;
        font-size: 1.8em;
        letter-spacing: 3px;
        color: #fff;
      }
      .date {
        margin-bottom: 0.5em;
        color: #555;
        font-size: 0.85em;
      }
      .last-updated-on {
        font-style: italic;
        color: #444;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {heroImage && (
          <div class="hero-image">
            <img width={1020} height={510} src={heroImage} alt="" />
          </div>
        )}
        <div class="prose">
          <div class="title-block">
            <div class="date">
              <FormattedDate date={pubDate} />
              {updatedDate && (
                <div class="last-updated-on">
                  last updated <FormattedDate date={updatedDate} />
                </div>
              )}
            </div>
            <h1>{title}</h1>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
